<ng-template [ngIf]="currentVote.state === 'active'">
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-danger" (click)="currentVote.state = 'closed'">Stop</button>
  </div>
</ng-template>
<ng-template [ngIf]="currentVote.state === 'draft'">
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-danger" (click)="deleteVote($event, currentVote)">Delete</button>
  </div>
</ng-template>
<ng-template [ngIf]="currentVote.state === 'closed'">
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-secondary" (click)="currentVote.state = 'active'">Restart</button>
    <button type="button" class="btn btn-danger" (click)="deleteVote($event, currentVote)">Delete</button>
    <button type="button" class="btn btn-danger" (click)="currentVote.state = 'archived'">Archive</button>
  </div>
</ng-template>
<ng-template [ngIf]="currentVote.state === 'waiting'">
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-secondary" (click)="currentVote.state = 'active'">Start</button>
    <button type="button" class="btn btn-danger" (click)="deleteVote($event, currentVote)">Delete</button>
  </div>
</ng-template>
<ng-template [ngIf]="currentVote.state === 'archived'">
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-danger" (click)="deleteVote($event, currentVote)">Delete</button>
  </div>
</ng-template>
