  <ng-template [ngIf]="currentVote.state === voteState.active">
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-danger text-light" (click)="currentVote.state = voteState.closed">Stop</button>
  </div>
</ng-template>
<ng-template [ngIf]="currentVote.state === voteState.draft">
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-danger text-light " (click)="deleteVote(currentVote)">Delete</button>
  </div>
</ng-template>
<ng-template [ngIf]="currentVote.state === voteState.closed">
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-secondary text-light " (click)="currentVote.state = voteState.active">Restart</button>
    <button type="button" class="btn btn-danger" (click)="deleteVote(currentVote)">Delete</button>
    <button type="button" class="btn btn-danger" (click)="currentVote.state = voteState.archived">Archive</button>
  </div>
</ng-template>
<ng-template [ngIf]="currentVote.state === voteState.waiting">
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-secondary text-light" (click)="currentVote.state = voteState.active">Start</button>
    <button type="button" class="btn btn-danger" (click)="deleteVote(currentVote)">Delete</button>
  </div>
</ng-template>
<ng-template [ngIf]="currentVote.state === voteState.archived">
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-danger" (click)="deleteVote(currentVote)">Delete</button>
  </div>
</ng-template>
