<div class="d-md-flex h-md-100 align-items-center">
  <div class="col-sm-6">
    <button class = "btn btn-dark" (click)="addNewUser()">New user</button>

    <app-users-list
      [users]="users"
      (userSelected)="userSelected($event)"
    ></app-users-list>
    <app-paginator
      [pageData]="pageOfUsers"
      (pageSelected)="pageSelected($event)"
    ></app-paginator>  </div>

  <div class="col-sm-6">
    <app-user-profile
      *ngIf="currentUser"
      [currentUser]="currentUser"
    ></app-user-profile>
  </div>
</div>
