<app-navigation></app-navigation>
<div class="d-md-flex mt-4 align-items-start">
  <div class="col-sm-6">
    <button class="btn btn-primary mb-2 disabled" (click)="addNewUserClicked()">New user</button>

    <app-users-list
      [users]="users"
      (userSelected)="userSelected($event)"
      [currentUser]="currentUser"
    ></app-users-list>

    <app-paginator
      *ngIf="users.length"
      [pageData]="pageParams"
      (pageSelected)="pageSelected($event)"
    ></app-paginator>
  </div>

  <div class="col-sm-6">
    <app-user-profile
      *ngIf="currentUser"
      [currentUser]="currentUser"
      (openChangePassword)="openChangePassword()"
    ></app-user-profile>
  </div>
</div>

<ng-template appModal></ng-template>
