<div class="container-fluid d-flex justify-content-center">
  <div class="border border-gradient-primary rounded  flex-row  p-2 shadow-lg mt-5  bg-gradient-secondary rounded">
    <form novalidate [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

      <div class="form-group">
        <label>Email</label>
        <input type="email"
               class="form-control"
               placeholder="Enter login"
               formControlName="email"
               required>
        <div class="form-control-feedback"
             *ngIf="login.errors && (login.dirty || login.touched)">
          <p *ngIf="login.errors.required">Email is required</p>
          <p *ngIf="login.errors.minlength">The email address must contain at least 3 characters</p>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password"
               class="form-control"
               placeholder="Enter password"
               formControlName="password"
               required>
        <div class="form-control-feedback"
             *ngIf="password.errors && (password.dirty || password.touched)">
          <p *ngIf="password.errors.required">Password is required</p>
          <p *ngIf="password.errors.minlength">Password must be 4 characters long</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
    </form>
  </div>
</div>
