<div class="d-md-flex h-md-100 align-items-start">
  <div class="col-sm-6">
    <button class = "btn btn-dark" (click)="addNewVote()">Add new vote</button>
    <app-votes-list
      [votes]="votes"
      (voteSelected)="voteSelected($event)"
    ></app-votes-list>
    <app-paginator
      *ngIf="votes.length"
      [pageData]="pageOfVotes"
      (pageSelected)="pageSelected($event)">
    </app-paginator>
  </div>

  <div class="col-sm-6">
    <app-vote-details
      *ngIf="currentVote"
      [currentVote]="currentVote"
    ></app-vote-details>
  </div>
</div>
