<div class="container">
  <table class="table bg-gradient-secondary table-hover">
    <thead class="bg-gradient-primary" >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Permission</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="rowClicked(user)"  *ngFor="let user of users" [ngClass]="{'bg-gradient-info' : user === currentUser}">
      <th>{{user.name}}</th>
      <td>{{user.description}}</td>
      <td>{{user.status}}</td>
      <td *ngIf="user.isAdmin">Admin</td>
      <td *ngIf="!user.isAdmin">No permissions</td>
    </tr>
    </tbody>
  </table>
</div>
