<div class="container">
  <table class="table bg-gradient-secondary table-hover">
    <thead class="bg-gradient-primary" >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Permission</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="rowClicked(user)"  *ngFor="let user of users" [ngClass]="{'bg-gradient-info' : user === currentUser}">
      <th>{{user.username}}</th>
      <td>{{user.description}}</td>
      <td>{{user.status}}</td>
      <td>
        <select class="btn btn-secondary btn-outline-primary text-light m-1" [value]=user.permissions #permissions (change)="changePermissionsClicked(permissions.value, currentUser)">
          <option [value]="1">Yes</option>
          <option [value]="2">No Permission</option>
          <option [value]="3">Not active</option>

        </select>
      </td>
    </tr>
    </tbody>
  </table>
</div>
