<div class="container">
<table class="table table-secondary table-bordered table-hover">
    <thead class="thead-dark" >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="rowClicked(vote)"  *ngFor="let vote of votes" >
      <th>{{vote.name}}</th>
      <td>{{vote.state}}</td>
      <td>{{vote.startDate}}</td>
      <td>{{vote.endDate}}</td>
    </tr>
    </tbody>
  </table>
</div>
