<p>modal-password works!</p>
<div id="modal">
  <div class="modal">
    <div class="modal-body">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onPasswordChangeSubmit()">
      <label for="new-password"> A new password:  </label>
        <input id="new-password"
               class="form-control"
               formControlName="newPassword"/>
        <button type="submit" [disabled]="!changePasswordForm.valid">Save</button>
        <button type="button" (click)="closeModal('modal');">Cancel</button>
      </form>
    </div>
  </div>
  <div class="modal-background"></div>
</div>
