<div class="overlay" (click)="onOverlayClicked($event)" *ngIf="modalOpened">
  <div class="dialog container-fluid bg-light d-flex border border-primary rounded" (click)="onDialogClicked($event)">
    <div><button (click)="closeModal($event);" class="float-right btn btn-info float-right">X</button> </div>
    <div class=" flex-row p-2 shadow-lg mt-2 bg-secondary rounded">
      <form *ngIf="formOpen" [formGroup]="changePasswordForm"
            (ngSubmit)="onPasswordChangeSubmit(changePasswordForm.value['oldPassword'], changePasswordForm.value['newPassword'], currentUser)"
            class="text-light font-weight-bold">
        <label for="old-password"> Old password:  </label>
        <input type='password' id="old-password" class="form-control" formControlName="oldPassword"/>
        <div class="font-weight-bold text-danger"> {{errorMessage}}</div>
        <label for="new-password"> New password:  </label>
        <input type='password' id="new-password" class="form-control" formControlName="newPassword"/>
        <br>
        <div class="col text-center">
        <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-lg btn-info">Save</button>
        <button type="button" (click)="closeModal($event);" class="btn btn-lg btn-info">Cancel</button>
        </div>
      </form>
      <div class="text-light font-weight-bold align-middle"> {{successMessage}}</div>
    </div>
    <br>
  </div>
</div>
